{% extends '::base.html.twig' %}
{% block title %} Wiadomości {% endblock %}
{% block stylesheets %}
	<link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" /> 
	<link href="{{ asset('css/clock.css') }}" type="text/css" rel="stylesheet" /> 
	<link href="{{ asset('sorgolla/skins/tango/skin.css') }}" type="text/css" rel="stylesheet" /> 
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="{{ asset('js/jquery.js') }}" > </script>
{# SORGOLLA CAROUSEL CONFIGURATION #}

{% endblock %}

{% block body %}
<div id="wrapper">


<div id="header" > 
  {# ZEGAREK #}
<div id="clockHolder" style="position:relative"  >
	<div class="rotatingWrapper"><img id="hour" src="{{ asset('clock/hour.png') }}" /></div>
	<div class="rotatingWrapper"><img id="min" src="{{ asset('clock/minute.png') }}" /></div>
	<div class="rotatingWrapper"><img id="sec" src="{{ asset('clock/second.png') }}" /></div>
	<img id="clock" src="{{ asset('clock/clock.png') }}" />
</div>
<img style="float:left; position:relative" src="{{ asset('img/co_nowego.png') }}" />
<div style = "width:300px; float:left;margin-top:15px; position:relative">
 {# GOOGLE #} 
<script>
  (function() {
    var cx = '013821136593592237661:zkiwrjc0wuk';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox></gcse:searchbox>
</div>
<div class="spacer" style="clear: both;"></div> {# layout hack #}
</div>


{# PRZYKRYTY HEADER #}
<div id="header2"> 
	<div id="pogoda">
	<table id="pogoda_table">
	<tr>
	<td>Teraz</td><td>Jutro</td><td>Po Jutrze</td>
	<tr/>
	<tr>
	<td><img style="width:90px; height: 60px " src="{{ pogoda[0] }}" /> </td>
	<td><img style="width:90px; height: 60px" src="{{ pogoda[2] }}" /> </td>
	<td><img style="width:90px; height: 60px" src="{{ pogoda[4] }}" /> </td>
	</tr>
	<tr>
	<td>{{ pogoda[1] }}</td>
	<td>{{ pogoda[3] }}</td>
	<td>{{ pogoda[5] }}</td>
	<tr/>
	</table>
	</div>
</div>

<div id="content" style="clear:left">
{# WIADOMOŚCI  #}
<div class="wiadomości" ><h2>Wiadomości </h2>
<table class="tabela">{% for wiadomość in wiadomości | reverse if  loop.index < 11 %}<tr>
<td style="width:80px; height:50px;"><div id="mini" style="width:70px;height:45px; background-image: url('{{ asset('uploads/documents') }}/{{ wiadomość.path1 }}') ; 
background-size:contain; background-repeat: no-repeat; background-position : center  " > &nbsp;</div> </td>
<td style="width:200px; height:50px;"><a href="{{ path('informacje_main_main_default_strona', { 'slug': wiadomość.id  }) }}">{{ wiadomość.header1 }}
</a></td></tr>
{% endfor %}
</table></div>

{# CAROUSEL #}
<div id='carousel' style="float:left ; margin-bottom : 5px;">
<h2>Rozmaitości </h2>
<div id='carousel_container'>
  <div id='left_scroll'><img src="{{ asset('img/left.png') }}" /></div>
  <div id='carousel_inner'>
        <ul id='carousel_ul'>
		{% for rozmaitosc in rozmaitosci | reverse %}
            <li><a href="{{ path('informacje_main_main_default_strona', { 'slug': rozmaitosc.id  }) }}">
			<img src="{{ asset('uploads/documents') }}/{{ rozmaitosc.path1 }}" />
			<span class="carousel_span">{{ rozmaitosc.header1 }}</span></a></li>
		{% endfor %}
        </ul>
  </div>
  <div id='right_scroll'><img src="{{ asset('img/right.png') }}" /></div>
</div>
</div>

{# REKLAMA #}
<div id="reklama"> 
    <div >  REKLAMA </div>
    <div style="background-color: Maroon" >  TANIO </div>
 </div>
{# SPORT  #}
<div class="wiadomości" ><h2>Sport </h2>
<table class="tabela">{% for sporty in sport | reverse if loop.index < 7 %}<tr>
<td style="width:80px; height:50px;"><div id="mini" style="width:70px;height:45px; background-image: url('{{ asset('uploads/documents') }}/{{ sporty.path1 }}') ; 
background-size:contain; background-repeat: no-repeat; background-position : center  " > &nbsp;</div> </td>
<td style="width:200px; height:50px;"><a href="{{ path('informacje_main_main_default_strona', { 'slug': sporty.id  }) }}">{{ sporty.header1 }}
</a></td></tr>
{% endfor %}
</table></div>

{# SPORT BIZNES #}
<div class="wiadomości" ><h2>Biznes </h2>
<table class="tabela">{% for biznesy in biznes | reverse if loop.index < 7 %}<tr>
<td style="width:80px; height:50px;"><div id="mini" style="width:70px;height:45px; background-image: url('{{ asset('uploads/documents') }}/{{ biznesy.path1 }}') ; 
background-size:contain; background-repeat: no-repeat; background-position : center  " > &nbsp;</div> </td>
<td style="width:200px; height:50px;"><a href="{{ path('informacje_main_main_default_strona', { 'slug': biznesy.id  }) }}">{{ biznesy.header1 }}
</a></td></tr>
{% endfor %}
</table></div>
 <div class="spacer" style="clear: both;"></div> 

{# SLIDER #}
<div id="rozrywka" style="float:left; margin-top : 3px;">
<h2> Rozrywka </h2>
<div id="s3slider"  >
    <ul id="s3sliderContent">
        
		{% for rozrywki in rozrywka | reverse %}
		
		<li class="s3sliderImage">
			<a href="{{ path('informacje_main_main_default_strona', { 'slug': rozrywki.id  }) }}">
            <img style="width:650px; height:361px" src="{{ asset('uploads/documents') }}/{{rozrywki.path1 }}">
            <span>{{ rozrywki.header1 }}</span></a>
        </li>
		{% endfor %}
        <div class="clear s3sliderImage"></div>
    </ul>
</div>	
</div>


{# CYCLE PLUGIN  #}
<div id="cycle_plugin" style="float:left; margin-top:3px; margin-left:3px; background: black;" >
<h2>Najpopularniejsze </h2></br>
<div id="s3" class="pics" style="position: relative; float:left; color:white; background:black;"> 
{% for popularny in popularne %}
    <div class="cycle" style="background:black"> <img src="{{ asset('uploads/documents') }}/{{popularny.path1 }}" width="200" height="110" />
	<div style=" padding:5px; background:black">{{ popularny.header1 }} </div>
	<div style="clear:both; font-weight:bold; padding:5px;background:black">{{ popularny.header2 }}</div> 
	
	</div>
{% endfor %}
</div> 
</div>


</div>

{# FOOTER #}
<div id="footer" style="background-image:url('{{ asset('img/footer.jpg')  }}'); 
width:1000px; height:300px; clear:both;">
<table style="float:left" ><th> Szukaj cen </th> <tr> <td> 
<a href="http://www.ceneo.pl" style="float:left"> <div id="ceneo"/></div></a>
</td><tr/></table>

<table style="float:left" ><th> Aukcje </th> <tr> <td> 
<a href="http://www.allegro.pl" style="float:left"> <div id="allegro"/></div></a>
</td><tr/></table>

<table style="float:left" ><th> Program </th> <tr> <td> 
<a href="www.telemagazyn.pl" style="float:left"> <div id="zapper"/></div></a>
</td><tr/></table>

<table style="float:left" ><th> Randka</th> <tr> <td> 
<a href="http://www.sympatia.pl" style="float:left"> <div id="sympatia"/></div></a>
<a href="http://www.badoo.com" style="float:left"> <div id="badoo"/></div></a>
</td><tr/></table>

<table style="float:left" ><th> Gry</th> <tr> <td> 
<a href="http://www.kurnik.pl" style="float:left"> <div id="kurnik"/></div></a>
</td><tr/></table>

<table style="float:left" ><th> Torrenty</th> <tr> <td> 
<a href="http://www.thepiratebay.se" style="float:left"> <div id="pirate"/></div></a>
<a href="http://www.kat.ph" style="float:left"> <div id="kat"/></div></a>
</td><tr/></table>

<table style="float:left" ><th> Video</th> <tr> <td> 
<a href="#" style="float:left"> <div id="liveleak"/></div></a>
<a href="http://www.youtube.com/" style="float:left"> <div id="youtube"/></div></a>
</td><tr/></table>

<table style="float:left" ><th> Pogoda</th> <tr> <td> 
<a href="http://www.pogodynka.pl" style="float:left"> <div id="imgw"/></div></a>
</td><tr/></table>

<table style="float:left;" ><th style="width:115px">  Podróże</th> <tr> <td> 
<a href="http://www.tripadvisor.com/" style="float:left"> <div id="advisor"/></div></a>
</td><tr/></table>

<div class="spacer" style="clear: both;"></div> {# layout hack #}
{# SORGOLLA CAROUSEL #}

<div class="jcarousel-skin-tango">
  <div class="jcarousel-container" style="width:920px; background:none; border:none;">
    <div class="jcarousel-clip" style="width:890px;; height:160px">

<ul id="mycarousel" class="jcarousel-skin-tango" style="height: 300px;">
<li class="jcarousel-item-1" style="width:220px;height:150px"><iframe width="220" height="150" src="http://www.youtube.com/embed/tw76EhR-qoo" frameborder="0" allowfullscreen></iframe></li>
<li class="jcarousel-item-2" style="width:220px;height:150px"><iframe width="220" height="150" src="http://www.youtube.com/embed/6UGvwmT0P9k" frameborder="0" allowfullscreen></iframe></li>
<li class="jcarousel-item-3" style="width:220px;height:150px"><iframe width="220" height="150" src="http://www.youtube.com/embed/S29heEskC18" frameborder="0" allowfullscreen></iframe></li>
<li class="jcarousel-item-4" style="width:220px;height:150px"><iframe width="220" height="150" src="http://www.youtube.com/embed/tw76EhR-qoo" frameborder="0" allowfullscreen></iframe></li>
<li class="jcarousel-item-5" style="width:220px;height:150px"><iframe width="220" height="150" src="http://www.youtube.com/embed/tw76EhR-qoo" frameborder="0" allowfullscreen></iframe></li>
</ul>

    </div>
  </div>
</div>





</div>


<div >
<gcse:searchresults></gcse:searchresults> 
</div>


</div>
{% endblock %}
{% block javascripts %}  {# javascript dla zegarka #}
<script type="text/javascript" src="{{ asset('js/jqueryRotate.js') }}" > </script>
<script type="text/javascript" src="{{ asset('js/s3Slider.js') }}" > </script>
<script type="text/javascript" src="{{ asset('js/cycle_plugin.js') }}" > </script>
<script type="text/javascript" src="{{ asset('sorgolla/lib/jquery.jcarousel.min.js') }}" > </script>
<script type="text/javascript" src="{{ asset('js/main.js') }}" > </script>

{% endblock %}

