{% extends '::base.html.twig' %}

{% block title %} {{ wiadomość.header1 }}  {% endblock %}
{% block stylesheets %}
	<link href="{{ asset('css/strona.css') }}" type="text/css" rel="stylesheet" /> 
{% endblock %}
{% block body %}
<div id="wrapper">
<h1> {{ wiadomość.header2 }} </h1>

{# GALERIA #}
		{# MAŁA #}
<div id="galeria">
<table><tr>
<td><a href="#" id="prev" ><img class="arrow" src="{{ asset('img/db_left_arrow.png') }}"/></a></td>
<td>
<ul id="small_list" style="list-style : none">
{% for i in 0..files|length-1 %}
<li class="li_{{ loop.index }}" style="float:left; padding : 5px; {% if loop.index > 5 %} display : none; {% endif %}  ">

<div style="width:60px;height:40px ;background-image:url('{{ asset('uploads/documents') }}/{{ files[i] }}');
background-size:contain;background-position:center;background-repeat:no-repeat;"> &nbsp; </div>
{# <img style="height : 40px;width:60px;" src="{{ asset('uploads/documents') }}/{{ files[i] }}" /> #} 

</li>
{% endfor %}
</ul>
</td>
<td><a href="#" id="next"><img class="arrow" src="{{ asset('img/db_right_arrow.png') }}"/></a></td>
</tr></table>
		{# DUŻA #}
<table><tr>
<td><a id="prev_big" href="#"><img class="arrow" src="{{ asset('img/left_arrow.png') }}"/></a> <td>
<td>

<div id="big" style="width:440px;height:350px ;background-image:url('{{ asset('uploads/documents') }}/{{ files[0] }}');
background-size:contain;background-position:center;background-repeat:no-repeat;"> &nbsp; </div>
<td>
<td><a id="next_big" href="#"><img class="arrow" src="{{ asset('img/right_arrow.png') }}"/></a> <td>
</tr></table>
</div>

{# CONTENT #}
<div id="header3">
<h4> {{ wiadomość.header3 }} </h4>
</div>
<div id="content" > 
<p> {{ wiadomość.content }} </p>
</div>

{# KOMENTARZE - DODAJ #}
<form action="{{ path('informacje_main_main_default_strona', { 'slug': wiadomość.id  }) }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form.komentarz) }} {{ form_errors(form.komentarz) }} </br>  
{{ form_widget(form.podpis) }} {{ form_errors(form.podpis) }} </br>  
{{ form_rest(form) }}
{{ form_errors(form) }}
<input type="submit" />
</form>
{# KOMENTARZE -ODPOWIEDZ #}
 <div class="skomentuj2" style="display:none;  position: fixed; top: 30%; left: 30%;background : #CCE1FC; padding: 20px;border:1px solid black"> 
 <em>Twoja odpowiedź : </em> <em class="zamknij" style="float:right"> Zamknij </em>
 </br>
 <form class="form2" action="{{ path('informacje_main_main_default_strona', { 'slug': wiadomość.id  }) }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form2.komentarz) }} {{ form_errors(form2.komentarz) }} </br>  
{{ form_widget(form2.podpis) }} {{ form_errors(form2.podpis) }} </br> 
{{ form_widget(form2.hidden) }} 
{# <input id="hidden_input" name="hidden_input" type="hidden"  value="Value"/> #}
{{ form_rest(form2) }}
{{ form_errors(form2) }}
<input type="submit" />
</form></div>



{# KOMENTARZE - LISTING #}
<hr/>

{# {{ dump(komentarze2) }} #}

{% for komentarz in komentarze %}
<div class="komentarz"> <i> {{ komentarz.podpis }}</i> | {{ komentarz.czas.date }} 
<em style="float:right"> {{ komentarz.minus }} </em>
<em style="display:none" > {{ komentarz.id }} </em>
<img class="minus" style="width:20px;float:right;" src="{{ asset('img/thumb_down.png') }}"/></a>
<img class="plus" style="width:20px;float:right;" src="{{ asset('img/thumb_up.png') }}"/></a>
<em style="float:right"> {{ komentarz.plus }} </em>
 <hr/> {{ komentarz.komentarz |nl2br }} </br> </div> 
 <em class="odpowiedz" style="margin-left:10px; color:white; background-color:green; float:left"> Odpowiedz </em> 
 <em style="display:none" > {{ komentarz.id }} </em>
	{% for komentarz2 in komentarze2 %}
		{% if komentarz2.parent.id == komentarz.id %}
		<div class="komentarz2"> <i> {{ komentarz2.podpis }}</i> | {{ komentarz2.czas.date }} 
		<em style="float:right"> {{ komentarz2.minus }} </em>
		<em style="display:none" > {{ komentarz2.id }} </em>
		<img class="minus2" style="width:20px;float:right;" src="{{ asset('img/thumb_down.png') }}"/></a>
		<img class="plus2" style="width:20px;float:right;" src="{{ asset('img/thumb_up.png') }}"/></a>
		<em style="float:right"> {{ komentarz2.plus }} </em>
        <hr/> {{ komentarz2.komentarz |nl2br }} </br> </div> 
		{% endif %}
	{% endfor %}	
{% endfor %}

</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/jquery.js') }}" > </script>
<script type="text/javascript" src="{{ asset('js/galeria.js') }}" > </script>
<script type="text/javascript" src="{{ asset('js/komentarze.js') }}" > </script>
{% endblock %}